<div class="main-wrapper1 color-{{ section.id }}">
  <div class="page-width image-with-text__wrapper">
    <div class="image-with-text {{ section.settings.switch }}">

      <div class="text-container-{{ section.id}}">
          {% if section.settings.heading != blank %}
              <div class="text-container__heading heading-{{ section.id }} section-heading ">
                {{ section.settings.heading | replace: '<p', '<h2' }}
              </div>
          {% endif %}
      </div>

      <div class="image-container-{{ section.id}}">
        {%- if section.settings.big-image != blank -%}
          <div class="image-container__big-image">
            {%- render 'image', 
              class: 'image-container__image-child media media--square',
              mobileSrc: section.settings.big-image,
              desktopSrc: section.settings.big-image 
            -%}     
          </div>
        {%- endif -%}
      </div>
      
    </div>
  </div>  
</div>
<style>
</style>
{% style %}
   @media only screen and (max-width: 600px){
    .main-wrapper1{
      display:none;
    }

   }
  .color-{{ section.id }}{
    background: {{ section.settings.background }}
  }
  .heading-{{section.id}} > h2 {
    color: {{ section.settings.heading_color }}
  }
 .text-container-{{ section.id }}{
    max-width: 50%;
    width: 100%;
} 
  .image-with-text{
    align-items:end;
  }
  .image-container-{{ section.id }}{
    width: 100%;
    max-width: 50%;
    margin-left: auto;
  }
  .text-container__caption{
    font-size: 16px;
  }
{% endstyle %}
{% schema %}
  {
    "name": "product-advt2",
    "class": "section",
    "settings": [   
      {
        "type": "select",
        "id": "switch",
        "label": "Switch Position for image and text",
        "options": [
          {
          "value": "left-switch",
          "label": "Left"
          },
          {
            "value": "right-switch",
            "label": "Right"
          }
        ],
        "default": "left-switch",
        "info": "Only works on desktop"
      },
      {
        "type": "header",
        "content": "Color settings"
      },
      {
        "type": "color_background",
        "id": "background",
        "label": "Background",
        "default": "Linear-gradient(180deg, rgba(255, 255, 255, 1) 36%, rgba(244, 248, 255, 1) 37%)"
      },
      {
        "type": "color",
        "id": "heading_color",
        "label": "Text color",
        "default": "#163F55"
      },   
      {
        "type": "richtext",
        "id": "heading",
        "label": "Heading",
        "default": "<p>Get 15% Off on your first order, get free delivery</p>"
      },
      {
        "type": "image_picker",
        "id": "big-image",
        "label": "Choose Image for other half screen"
      }    
    ]
  }
{% endschema %}
